<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="/vistas/templates/plantilla.html::head"></head>

    <body>
        <nav th:replace="/vistas/templates/plantilla.html::navBar"></nav>

        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>

        <section style="background: #0c2646">
            <div class="row">&nbsp;</div>

            <div class="row justify-content-center">
                <form class="form-inline" style="width:85%" th:action="@{/acortar}" method="post">
                    <div class="row">
                        <div class="col">
                            <input type="text" id="input" name="url" class="form-control" style="width: 100%" placeholder="Ingrese URL a acortar" required>
                            <button formmethod="post" name="acortar" type="submit" style="border-radius: 5px" class="btn btn-primary">Acortar</button>

                        </div>
                    </div>
                </form>
                <button name="preview" id="previewBtn" class="btn btn-secondary"> Preview</button>
                <img id="preview"/>

                <meta
                        name="image"
                        content="https://api.microlink.io?url=https://www.netflix.com/title/80057281&screenshot=true&meta=false&embed=screenshot.url"
                />
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">&nbsp;</div>
            <div class="row justify-content-center"></div>
        </section>

    <script>
        document.getElementById("previewBtn").addEventListener("click", function(){
            var url = document.getElementById("input").value;
            document.getElementById("preview").setAttribute("src", "https://api.microlink.io/?url="+url+"&screenshot=true&embed=screenshot.url");
            //document.getElementsByName("image")[0].setAttribute("content", "https://api.microlink.io/?url="+url+"&screenshot=true&embed=screenshot.url");
        });
    </script>

    </body>
</html>